# Environment variables - exclude real .env but allow example
.env
.env.*
!.env.example

# Documentation PDFs
*.pdf
readme.pdf
docs/*.pdf

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints
notebooks/*.pt # Ignore YOLO weights in notebooks


# Ignore all run/ folders recursively
runs/
**/runs/

# Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Temporary files
*.swp
*.swo
*~

# OS specific
.DS_Store
Thumbs.db

# YOLO / Model Weights
*.pt

# Ignore everything under data
data/*

# But do *not* ignore the precomputed folder itself
!data/precomputed/

# Now re-ignore all files *inside* precomputed…
data/precomputed/*

# …except the DVC metafiles, which we *do* want in Git
!data/precomputed/*.dvc

# Ingore .devcontainer.json
.devcontainer.json
